# URL de conexión a MongoDB local
# Formato: mongodb://localhost:27017/<nombre-de-tu-base-de-datos>
MONGO_URI="mongodb://localhost:27017/consulodontologico"

# Puerto en el que corre el servidor (por defecto: 5001)
PORT="5001"
